@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
/* 
nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: #dee2e6;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

#navbar {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

nav a:hover {
  color: #000000;
} */
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "segoe ui";
}

.nav {
	height: 50px;
	width: 95%;
	/* background-color: #4d4d4d; */
	position: relative;
}

.nav > .nav-header {
	display: inline;
}

.nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
	display: none;
}

.nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
}

.nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
	display: none;
}

@media (max-width: 600px) {
	.nav {
		width: 100%;
	}
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}
	.nav > .nav-btn > label:hover,
	.nav #nav-check:checked ~ .nav-btn > label {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.nav > .nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #333;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	.nav > .nav-links > a {
		display: block;
		width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}
* {
	background-color: rgb(44, 42, 42);
	color: #c4c4c4;
}

#name {
	/* font-family: "Lato", sans-serif; */
	font-style: italic;
	font-weight: 500;
	font-size: 35px;
	text-decoration: none;
	padding-left: 5%;
	font-family: "Licorice", cursive;
}

.heading1 {
	text-align: center;
	font-family: "Antic Didone", serif;
	font-size: 69px;
}

@media print {
	body {
		display: none;
	}
}
